/* menu */

/*nav {
	border: 1px solid black;
	text-align:center;
	padding:1%;
}*/

@font-face {
  font-family: bienvenue;
  src: url(CaviarDreams.ttf);
}

.bienvenue{
	font-family: bienvenue;
	font-size: 400%;
}

.textbienvenue{
	font-family: bienvenue;
	font-size: 100%;
	text-align:center;
}

.marka{
	font-family: cursive;
	text-shadow: 0 0 0.2em grey;
	margin-top: 20px;
}


#logoFB , #logoTT , #logoGP {
  padding-left: 1%;
  height: 25px;
  width: 25px;
  text-decoration: none;
}
	#menu {
		background-color:#282923;
		justify-content: center;
		width: 100%;
		height: 40px;
		display: flex;
		flex-direction: row;

	}

	#menu, #menu ul{
		padding:0;
		margin:auto;
		list-style:none;
		text-align:center;
	}

	#menu li{
		display:inline-block;
		position:relative;
		border-radius:10px 10px 0 ;
	}
	#menu ul li{
		display:inherit;
		border-radius:5px 5px 0 ;
	}
	#menu ul li:hover{
		border-radius:5px;
	}

	#menu ul{
		position:absolute;
		max-height:0;
		left: 0px;
		right: 0px;
		overflow:hidden;
		-moz-transition: .8s all .3s;
		-webkit-transition: .8s all .3s;
		transition: .8s all .3s;
		width:168.06px;
		height:105px;
		background: linear-gradient(grey, black);


	}

	#menu li:hover ul{
			max-height:15em;
			border-radius: 5px 5px 0;

	}

	/* background des liens sous menus */

	#menu li li{
		/*background:white;*/
		border: 5px 5px solid;
		border-radius:10px;
		border-color:white;
		/*margin:3px 3px;*/
	}

	/* background des liens menus et sous menus au survol */
	#menu li:hover, #menu li li:hover{
		background:black;
	}


	/* les a href */
	#menu a{
		text-decoration:none;
		display:block;
		padding:8px 32px;
		color:white;
		font-family: 'Glitch', sans-serif;
	}

	#menu ul a{
		padding:8px 0px;
	}

	#menu li:hover li a{
		color:white;
		text-transform:inherit;
	}
	#menu li:hover a, #menu li li:hover a{
		color:white;
	}



	/* menu bruger */
	.burger{
		display:none;
	}

	@media all and (max-width: 650px) {

		.burger{
			display:block;
		}

		.burger{
			display:flex;
		}

		nav ul li {
			display:inherit;
		}

		nav{
			display:none;
		}

		#menu2{
			position:absolute;
			left:0px;
			display:none;
		}

		.align{
			text-align:center;
			display: flex;
			border-radius:8px;
			border:1px solid;
			border-color:#223A49;
			background-color:white;
		}

		li #rej {
			text-align:center;
			display: none;

		}

		li:hover #rej {
			text-align:center;
			display: block;
		}

		.burger:hover #menu2{
			display:block;
		}

	}

	img .burger:hover {
		display: block;
	}

	.burger {
		overflow: hidden;
		background-color: #223A49;
	}

	.burger a {
		float: left;
		display: block;
		color: #223A49;
		text-align: center;
		padding: 10px 15px;
		text-decoration: none;
		font-size: 17px;
		background-color:white;
	}

	.burger li li li a{
		display:none;
	}


/* css site */

html {
	background-color: white;
	}

/*.ban {
	margin-top: 20px;
	height:400px;
	width: 100%;
	border: 10px solid;
 	/*border-image: linear-gradient(black, grey) 5;
  	padding: 20px;
  	margin-right: 2%;
  	margin-left: 2%;
}*/

h1,h2{
	text-align: center;
	margin-top: 70px;
	margin-bottom: 20px;
}

.cat{
	margin-top: 50px;
	height: 500px;
	width: 400px;
	display: inline;
    margin-left: 4%;
    margin-right: 1% ;
 	border: 2px #aaa solid;
  	text-align: center;
  	margin-bottom: 20px;
}


a{
	color:#000;
	text-decoration:none;
}

a:hover{
	color:#606060;
	text-decoration: none;
}

a:visited{
	color: #303030;
	text-decoration: none;
}

#pageHomme{
	margin-top: 70px;
	text-align: left;
}

.aside{
	position: fixed;
}


.vet{
	width: 350px;
	height: 500px;
	margin-top: 50px;
	margin-left: auto;
	margin-right: auto;
	display: block;
	margin-bottom: 20px;
	border-color: grey;
	border-radius: 10px;
}

.h2{
	text-align: center;
}

/* diapo */

.contener_slideshow
{
  width:700px;
  height:500px;
  overflow: hidden;
  position: relative;
  margin-bottom: 70px;

}

.slid_1, .slid_2, .slid_3
{
  position: absolute;
  width:700px;
  height:600px;
}
.slid_1{left: 0;}
.slid_2{left: 610px;}
.slid_3{left: 1220px;}


.contener_slide
{
  width: 1220px;
  height: 211px;
  left:0px;
  position: absolute;
  -webkit-animation-duration: 10s;
  -webkit-animation-iteration-count:infinite;
  -webkit-animation-name: anim_slide;
  -moz-animation-duration: 10s;
  -moz-animation-iteration-count:infinite;
  -moz-animation-name: anim_slide;
  -ms-animation-duration: 10s;
  -ms-animation-iteration-count:infinite;
  -ms-animation-name: anim_slide;
  animation-duration: 10s;
  animation-iteration-count:infinite;
  animation-name: anim_slide;
}
@-webkit-keyframes anim_slide
{
  0% {left:0px;}
  22% {left:0px;}
  33% {left:-610px;}
  45% {left:-610px;}
  66% {left:-1220px;}
  90% {left:-1220px;}
}
@-moz-keyframes anim_slide
{
  0% {left:0px;}
  22% {left:0px;}
  33% {left:-610px;}
  45% {left:-610px;}
  66% {left:-1220px;}
  90% {left:-1220px;}
}
@-ms-keyframes anim_slide
{
  0% {left:0px;}
  22% {left:0px;}
  33% {left:-610px;}
  45% {left:-610px;}
  66% {left:-1220px;}
  90% {left:-1220px;}
}

@keyframes anim_slide
{
  0% {left:0px;}
  22% {left:0px;}
  33% {left:-610px;}
  45% {left:-610px;}
  66% {left:-1220px;}
  90% {left:-1220px;}


}

body, html {
	height: 100%;
	margin: 0;
}

main
{
	margin-bottom: 11%;
}

footer {
	position: fixed;
  left:0px;
  bottom:0px;
  height:10%;
  width:100%;
  background:#D3D3D3;
  text-align: center;
  color: black;
  text-align: center;
}


.addpanier{
     font-size: 1.6em;
     width: 200px;
     height: 50px;
     border-radius: 5px;
     text-align: center;
     color: #000;
     background: #A9A9A9;



 }

 .info{
 	text-align: center;
 }


 /** {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}*/

.item {

  overflow: hidden;
  width: 540px;
  text-align: center;
  display: inline;
}
.item img {
 /* max-width: 100%;*/

  -moz-transition: all 0.5s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
}
.item:hover img {
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}



.connect {
	text-align: center;
	margin-top: 3%;
	border: none;
	color: white;

}

.connect2{
	border: none;
	color: white;
	margin-top: 3%;
	margin-left: 50px;

}

.seConnecter{
	text-align: center; 
	font-size: 1em;
	width: 70%;


}

.form{
	margin-left: 220px;
	background-color: black;
	width: 70%;
	border-radius: 5px;
	box-shadow: 8px 8px 0px  	#808080; 
	height: 190px;

}

.label{
	background-color: #D3D3D3;
	border-radius: 5px;
	

}

.inscrire{
	text-align: center; 
	margin-top: 5%;
}

.form2{
	margin-left: 220px;
	background-color: black;
	width: 70%;
	border-radius: 5px;
	box-shadow: 8px 8px 0px #808080; 
	height: 400px;


}

.hautdepage{
	width: 30px;
	height: 30px;
	margin-left: 40px;
}

.titlet{
	font-family: bienvenue;
	font-size: 200%;
}

.titlea{
	font-family: bienvenue;
	font-size: 150%;
}
